@page "/donhang"
@inject NavigationManager nav
@inject IAPIHelper _apiHelper
@inject ILocalStorageService localStorage

<MudTable Items="@hoadon" >
    <HeaderContent>
        <MudTh>Mã hóa đơn</MudTh>
        <MudTh>Ngày đặt</MudTh>
        <MudTh>Tổng tiền</MudTh>
        <MudTh>Trạng thái</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Mahoadon</MudTd>
        <MudTd>@context.Ngaydat</MudTd>
        <MudTd>@context.Tongtien</MudTd>
        <MudTd>@context.Trangthai</MudTd>
        <MudTd><a class="btn btn-info" href="/chitietdonhang/@context.Mahoadon">Chi tiết</a></MudTd>
    </RowTemplate>
</MudTable>