@page "/thongtin"
@inject R4CloThes.Client.Helpers.IAPIHelper _apiHelper
@inject R4CloThes.Client.Helpers.IUploadImage _uploadImage
@inject ILocalStorageService localStorage
@inject NavigationManager nav

<div style="max-width: 600px;">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudGrid>
                <MudItem>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="3">
                                <MudContainer>
                                    <MudCardMedia Image="https://duhocminhkhang.com/wp-content/uploads/2020/01/T%E1%BB%95ng-h%E1%BB%A3p-h%C3%ACnh-%E1%BA%A3nh-g%C3%A1i-xinh-%C4%91eo-m%E1%BA%AFt-k%C3%ADnh-c%E1%BB%B1c-cute-10-1.jpg" Style="height:70px; width:70px;" Class="ma-2" />
                                </MudContainer>
                            </MudItem>
                            <MudItem xs="12" sm="5">
                                <MudTextField Label="Họ Tên Khách Hàng" Class="mt-3"
                                              @bind-Value="model.Username" For="@(() => model.Username)" />
                            </MudItem>
                            <MudItem xs="12" sm="4">
                                <MudTextField Label="Email" Class="mt-3"
                                              @bind-Value="model.Username" For="@(() => model.Username)" />
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12" sm="6">
                                <MudRadioGroup Label="Giới tính" @bind-SelectedOption="Dense_Radio">
                                    <MudRadio Option="true" Color="Color.Primary" Dense="true">Nam</MudRadio>
                                    <MudRadio Option="false" Color="Color.Secondary" Dense="false">Nữ</MudRadio>
                                </MudRadioGroup>
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudItem xs="12">
                                    <MudDatePicker Label="Ngày Sinh" @bind-Date="date" ReadOnly="@readOnly" />
                                </MudItem>
                            </MudItem>
                        </MudGrid>
                        <MudTextField Label="Địa Chỉ" Class="mt-3"
                                      @bind-Value="model.Email" For="@(() => model.Email)" />
                        <MudTextField Label="Số Điện Thoại" Class="mt-3"
                                      @bind-Value="model.Email" For="@(() => model.Email)" />
                        <MudTextField Label="Trạng Thái" Class="mt-3"
                                      @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                    </MudCardContent>
                </MudItem>
            </MudGrid>
        </MudCard>
    </EditForm>
</div>
@code {
    RegisterAccountForm model = new RegisterAccountForm();
    bool success;

    public class RegisterAccountForm
    {
        public string Username { get; set; }

        public string Email { get; set; }

        public string Password { get; set; }

        public string Password2 { get; set; }
    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }

}
@code {
    public bool Dense_Radio { get; set; } = true;
}
@code {
    MudDatePicker _picker;
    DateTime? date = DateTime.Today;
    private bool autoClose;
    private bool readOnly;
}
